<h1>ログイン</h1>

<%= form_with url:signin_path,local:true do |f| %>
<div class="container">

<diV class="form_group">
<label>メールアドレス</label>
<%= f.text_field  :email, class:"form-control"%> 
</diV>

<diV class="form_group">
<label>パスワード</label>
<%= f.password_field  :password, class:"form-control"%> 
</diV>
    
<%= f.submit class:"btn btn-primary"%>
<% end %>
</div>
